<!-- CSS 파일 포함 -->
<link rel="stylesheet" href="/css/header.css">

<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <img src = "/image/favicon-32x32.png" class="brand-image" />
      <a class="navbar-brand" href="/main">QMZ</a>
<!--       <div class="title d-flex "  ><img src = "/image/title.png" class="title-image" /> </div> -->
      <div class=title>
        <h1 class="title-font d-flex ">QUOKKA MUZIP</h1>
      </div>
      <div class="dropdown ms-auto">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          id="menuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          MENU
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuButton" id="dropdownmenu">
          <li><a class="dropdown-item" href="/profile" id="dropdownitem">UserInfo</a></li>
          <li><a class="dropdown-item" href="/myplaylist" id="dropdownitem">My PlayList</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item text-danger" href="/auth/logout"  id="dropdownitem-logout">Logout</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
  