footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px; /* 내부 패딩을 줄임 */
    height: 40%; /* 높이를 기존보다 줄임 */
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    
  }
.container{
  height: 100%;
}

/* 메인 화면 글꼴 설정을 위해 새로 생성  */
@font-face {
  font-family: 'Tenada';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Apply the custom font to specific elements */
h1 {
  font-family: 'Tenada', sans-serif; /* Use the custom font */
  font-size: 2.5rem; /* Adjust font size */
  font-weight: normal; /* Set font weight (or as per design) */
  color: #333; /* Adjust text color */
  text-align: center; /* Center-align the text */
  margin-top: 20px; /* Add spacing */
}

p {
  font-family: 'Tenada', sans-serif; /* Use the custom font */
  font-size: 1.2rem; /* Adjust font size */
  color: #555; /* Adjust text color */
  text-align: center; /* Center-align the text */
  margin-bottom: 30px; /* Add spacing */
}

.btn-custom {
  display: inline-block;
  width: 100px; /* 버튼 너비 */
  height: 90px; /* 버튼 높이 */
  background-size: cover; /* 이미지를 버튼 크기에 맞게 조정 */
  background-position: center; /* 이미지를 가운데 정렬 */
   /* 텍스트 색상 */
  font-size: 16px; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵기 */
  font-family: 'Tenada', sans-serif;
  text-align: center; /* 텍스트 가운데 정렬 */
  line-height: 90px; /* 버튼 높이와 동일하게 설정하여 텍스트 중앙 정렬 */
  text-decoration: none; /* 링크 밑줄 제거 */
  border-radius: 5px; /* 버튼 테두리 둥글게 */

}
.btn-custom img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 버튼 너비에 맞게 조정 */
  height: 100%; /* 버튼 높이에 맞게 조정 */
  object-fit: fill; /* 비율 무시, 버튼 크기에 딱 맞춤 */
}


.btn-mood {
  background-image: url('/image/menu/mood.png'); 
  color: #4556b9;/* 무드 검색 이미지 */
}

.btn-weather {
  background-image: url('/image/menu/weather.png');
  color: #2ea05a; /* 날씨 검색 이미지 */
  padding-right: 12px;
}

.btn-top100 {
  background-image: url('/image/menu/top100.png');
  color: #ffb53f; /* Top 100 이미지 */
}

.btn-random {
  background-image: url('/image/menu/random.png'); 
  color: #ff5e5e; /* 랜덤 노래 검색 이미지 */
}

/* 호버 효과 */
.btn-custom:hover {
  opacity: 0.8; /* 호버 시 약간 투명해지는 효과 */
}