/* 결과 컨테이너 스타일 */
#results {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20%
}
*{
  background-color: #333;
}

/* 카드 스타일 */
.card {
  width: 15rem; /* 카드 너비 조정 */
  border: 1px solid #f7f5ee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05); /* 마우스 오버 효과 */
}

/* 이미지 스타일 */
.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* 카드 내용 */
/* 텍스트 배경이 흰색이 되도록 수정 */
.card-body {
  background-color: #fff; /* 카드 텍스트 배경 흰색 */
  color: #333; /* 텍스트 색상 */
  padding: 10px; /* 내부 여백 */
  border-bottom-left-radius: 8px; /* 카드 아래쪽 둥근 모서리 */
  border-bottom-right-radius: 8px;
}

/* 전역 스타일 조정 */
* {
  background-color: transparent; /* 모든 요소의 배경 투명 처리 */
}

/* 페이지 배경색 */
body {
  background-color: #333; /* 페이지 배경색 유지 */
  color: #fff; /* 기본 텍스트 색상 흰색으로 유지 */
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#playlistForm { 
  margin: 0 auto; /* 가운데 정렬 */
  width: 50%; /* 너비 50% */
  /* background-color: #f9f9f9; */ /* 선택적: 배경색 추가 */
  padding: 20px; /* 내부 여백 */
  /* border: 1px solid #ddd; */ /* 선택적: 테두리 추가 */
  border-radius: 8px; /* 선택적: 테두리 둥글게 */
}