/* 전체 페이지 스타일 */
.container {
    max-width: 1200px;
    margin: 0 auto;
  }
/* 기본 바디 스타일 */
body {
  margin: 0;
  display: flex; /* 페이지를 세로로 정렬 */
  flex-direction: column;
  min-height: 100vh;
}

/* 푸터 스타일 */
.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* 콘텐츠 영역 설정 */
.content {
  flex: 1; /* 나머지 공간 채우기 */
}


.gif-button {
  width: 100px; /* 이미지 크기 */
  height: 100px;
}

#result {
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 13%;

}